BManagedClient/BManagedClient/Connected Services/BMsrv/Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusinessType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsZair" type="xs:boolean" />
          <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreferredCurrency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Base">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Base" nillable="true" type="tns:Base" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="AllUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllUsers" nillable="true" type="tns:AllUsers" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BusinessName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OwnerId" type="xs:int" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreferredCurrency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaxId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Project">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssignedEmployeeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalBudget" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Contract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContractNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
          <xs:element minOccurs="0" name="PdfPath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
          <xs:element minOccurs="0" name="SignedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Contract" nillable="true" type="tns:Contract" />
  <xs:complexType name="ArrayOfContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract" nillable="true" type="tns:Contract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract" nillable="true" type="tns:ArrayOfContract" />
  <xs:complexType name="Invoice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContractId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
          <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IssueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaidDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ProjectId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Subtotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="Total" type="xs:decimal" />
          <xs:element minOccurs="0" name="VatAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="VatRate" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
  <xs:complexType name="InvoiceLine">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceId" type="xs:int" />
          <xs:element minOccurs="0" name="LineTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="Quantity" type="xs:double" />
          <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvoiceLine" nillable="true" type="tns:InvoiceLine" />
  <xs:complexType name="ArrayOfInvoiceLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceLine" nillable="true" type="tns:InvoiceLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceLine" nillable="true" type="tns:ArrayOfInvoiceLine" />
  <xs:complexType name="ArrayOfInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="tns:Invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoice" nillable="true" type="tns:ArrayOfInvoice" />
  <xs:complexType name="Expense">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OwnerId" type="xs:int" />
          <xs:element minOccurs="0" name="ProjectId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ReceiptPath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VatPaid" type="xs:decimal" />
          <xs:element minOccurs="0" name="Vendor" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Expense" nillable="true" type="tns:Expense" />
  <xs:complexType name="ArrayOfExpense">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Expense" nillable="true" type="tns:Expense" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpense" nillable="true" type="tns:ArrayOfExpense" />
  <xs:complexType name="ArrayOfExpenseCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseCategory" nillable="true" type="tns:ExpenseCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseCategory" nillable="true" type="tns:ArrayOfExpenseCategory" />
  <xs:complexType name="ExpenseCategory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsVatDeductible" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpenseCategory" nillable="true" type="tns:ExpenseCategory" />
  <xs:complexType name="VatSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpensesTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="IncomeTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Month" type="xs:int" />
      <xs:element minOccurs="0" name="VatCollected" type="xs:decimal" />
      <xs:element minOccurs="0" name="VatDue" type="xs:decimal" />
      <xs:element minOccurs="0" name="VatPaid" type="xs:decimal" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VatSummary" nillable="true" type="tns:VatSummary" />
  <xs:complexType name="ProfitLoss">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expenses" type="xs:decimal" />
      <xs:element minOccurs="0" name="Income" type="xs:decimal" />
      <xs:element minOccurs="0" name="Profit" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxSetAsideEstimate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfitLoss" nillable="true" type="tns:ProfitLoss" />
  <xs:complexType name="ArrayOfCustomerRevenueRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerRevenueRow" nillable="true" type="tns:CustomerRevenueRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerRevenueRow" nillable="true" type="tns:ArrayOfCustomerRevenueRow" />
  <xs:complexType name="CustomerRevenueRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalInvoiced" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalPaid" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerRevenueRow" nillable="true" type="tns:CustomerRevenueRow" />
  <xs:complexType name="ArrayOfExpenseBreakdownRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseBreakdownRow" nillable="true" type="tns:ExpenseBreakdownRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseBreakdownRow" nillable="true" type="tns:ArrayOfExpenseBreakdownRow" />
  <xs:complexType name="ExpenseBreakdownRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsVatDeductible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpenseBreakdownRow" nillable="true" type="tns:ExpenseBreakdownRow" />
  <xs:complexType name="ArrayOfEmployeeRevenueRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeRevenueRow" nillable="true" type="tns:EmployeeRevenueRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeRevenueRow" nillable="true" type="tns:ArrayOfEmployeeRevenueRow" />
  <xs:complexType name="EmployeeRevenueRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectsCount" type="xs:int" />
      <xs:element minOccurs="0" name="RevenueGenerated" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeRevenueRow" nillable="true" type="tns:EmployeeRevenueRow" />
  <xs:complexType name="ArrayOfProfitLoss">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfitLoss" nillable="true" type="tns:ProfitLoss" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfitLoss" nillable="true" type="tns:ArrayOfProfitLoss" />
  <xs:complexType name="AnalyticsKpis">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveCustomerCount" type="xs:int" />
      <xs:element minOccurs="0" name="Aging1To30" type="xs:decimal" />
      <xs:element minOccurs="0" name="Aging31To60" type="xs:decimal" />
      <xs:element minOccurs="0" name="Aging61Plus" type="xs:decimal" />
      <xs:element minOccurs="0" name="AgingCurrent" type="xs:decimal" />
      <xs:element minOccurs="0" name="AvgDaysToPayment" type="xs:double" />
      <xs:element minOccurs="0" name="AvgMonthlyExpenses" type="xs:decimal" />
      <xs:element minOccurs="0" name="AvgMonthlyIncome" type="xs:decimal" />
      <xs:element minOccurs="0" name="AvgMonthlyProfit" type="xs:decimal" />
      <xs:element minOccurs="0" name="DisplayCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnTimeRatePct" type="xs:double" />
      <xs:element minOccurs="0" name="RunwayMonths" type="xs:double" />
      <xs:element minOccurs="0" name="TopCustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TopCustomerSharePct" type="xs:double" />
      <xs:element minOccurs="0" name="TotalOutstanding" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnalyticsKpis" nillable="true" type="tns:AnalyticsKpis" />
  <xs:complexType name="Loan">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InterestRatePct" type="xs:double" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsKerenBacked" type="xs:boolean" />
          <xs:element minOccurs="0" name="Lender" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MonthlyPayment" type="xs:decimal" />
          <xs:element minOccurs="0" name="NextPaymentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OwnerId" type="xs:int" />
          <xs:element minOccurs="0" name="Principal" type="xs:decimal" />
          <xs:element minOccurs="0" name="Purpose" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemainingBalance" type="xs:decimal" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TermMonths" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Loan" nillable="true" type="tns:Loan" />
  <xs:complexType name="ArrayOfLoan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Loan" nillable="true" type="tns:Loan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoan" nillable="true" type="tns:ArrayOfLoan" />
  <xs:complexType name="LoanPayment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="InterestPortion" type="xs:decimal" />
          <xs:element minOccurs="0" name="LoanId" type="xs:int" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaidDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PrincipalPortion" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoanPayment" nillable="true" type="tns:LoanPayment" />
  <xs:complexType name="ArrayOfLoanPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanPayment" nillable="true" type="tns:LoanPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanPayment" nillable="true" type="tns:ArrayOfLoanPayment" />
  <xs:complexType name="LoanSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="DebtToAnnualIncomePct" type="xs:double" />
      <xs:element minOccurs="0" name="DisplayCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KerenBackedCount" type="xs:int" />
      <xs:element minOccurs="0" name="LoanCount" type="xs:int" />
      <xs:element minOccurs="0" name="MonthlyDebtServiceRatioPct" type="xs:double" />
      <xs:element minOccurs="0" name="MonthlyPaymentTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="NextPaymentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="NextPaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalPrincipal" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalRemaining" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanSummary" nillable="true" type="tns:LoanSummary" />
  <xs:complexType name="Notification">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NotificationType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReadAt" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Notification" nillable="true" type="tns:Notification" />
  <xs:complexType name="ArrayOfNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Notification" nillable="true" type="tns:Notification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotification" nillable="true" type="tns:ArrayOfNotification" />
</xs:schema>